.main-body{
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px 30px;
}

.book-img{
    height: 500px;
}

.ipad-img{
    height: 400px;
    position: absolute;
    top: 400px;
    left: 200px;
}

.screen-img{
    height: 320px;
    position: absolute;
    z-index: 3;
    top:430px;
    left: 214px;
}

.left-column{
    
    margin-left: 100px;
    display: flex;
    flex-direction: column;

}

.hook{
    font-weight: 500;
    font-size: xx-large;
    font-family: 'Montserrat';
}

.main-copy{
    width: 50%;
    margin: auto;
    font-family: 'PT Serif', serif;;
}

.enter-email-div{
    margin: 30px auto 30px auto;
    width: 50%;
    display: flex;
}

.email-input{
    background-color: #172851;
    border: none;
    height: 35px;
    width: 200px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
    text-indent: 10px;
}

.submit-email-btn{
    background-color: #5C22FF;
    color: white;
    border: none;
    font-size: 11px;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100px;
}

.featured-on-div{
    margin-top: 90px;
    width: 50%;
    margin: auto;
}

.feature-on-copy{
    font-size: small;
}
.brand-images{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
}

.brand{
    width: 70px;
    height: 70px;
}
